<html>
    <head>
        <title>Shoe Stores</title>
        <link href="css/custom.css" rel='stylesheet' type="text/css">
        <link href="../../css/custom.css" rel='stylesheet' type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
         <div class="container" id="main_display">
            <div class="col-md-8" id="col-display">
            <h1>Shoe Central</h1>
            <h2>Removal Complete</h2>
				{% if brands == TRUE %}
                    <h2>{{ name }} has been deleted!</h2>
					<a href="/brands">Go to the "Brands"" main page</a>
                    <br>
				{% elseif stores == TRUE %}
                    <h2>{{ name }} has been deleted!</h2>
					<a href="/stores">Go to the "Stores" main page</a>
                    <br>
				{% endif %}
            </div>

            <div class="col-md-4" id="col-display">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg" id="home_button">HOME</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-danger" id="brand_button">View shoe brands</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-primary" id="store_button">View shoe stores</button>
                </form>
            </div>
        </div>
    </body>
</html>
